h4 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  flex-shrink: 0;
}
.tabelaVisitantes {
  width: 1080px;
  border-collapse: collapse;
  margin: 25px;
  
}
.tabelaVisitantes th, .tabelaVisitantes td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.tabelaVisitantes th {
  background-color: rgb(106, 237, 106);
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}
.tabelaVisitantes tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabelaVisitantes tr:hover {
  background-color: #e1f0ff;
  cursor: default;
}
table button {
  color: #4b4848;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(106, 237, 106);
  cursor: pointer; 
  margin: 0 3px;
}

table button:hover {
  background-color: #d16d67;
}
.containerLista { 
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.01); 
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); 
  overflow-x: auto;
  max-height: 70vh;
  backdrop-filter: blur(3px); 
}


.spanAlerta {
  font-size: 11px;
  color: #f33636;
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding-left: 5px;
  position: absolute;
}

