.containerPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 50px;
  gap: 50px;
  width: 100%;
  max-width: 900px;
}
.titulo {
  color: #4b4848;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


.btnVisitantes {
  margin: 10px;
  color: #4b4848;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(106, 237, 106);
  cursor: pointer;
}
.btnVisitantes:hover {
  background-color: #dd6f6f;
}

.centralizarTudo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw;  
}

