.containerResultados {
  width: 100%;
  display: inline;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.btnIniciar{
  color: #4b4848;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(106, 237, 106);
  cursor: pointer; 
  margin: 0 3px;
}

.btnIniciar:hover {
  background-color: #dd6f6f;
}
.tabelaVisitantes input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #685f5f;
  border-radius: 5px;
  width: 100%;
}

.btnVoltar {
  margin: 10px;
  color: #4b4848;
  
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(106, 237, 106);
  cursor: pointer;
}