.containerVisitas {
  width: auto;
  height: fit-content;
  padding: 0px 10px;
  border-radius: 10px;
  overflow-x: hidden;
  max-height: 70vh;
  
}
.tabelaVisitas {
  width: 100%;
  border-collapse: collapse;
  margin: 25px;
  
}
.tabelaVisitas th, .tabelaVisitas td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.tabelaVisitas th {
  background-color: rgb(106, 237, 106);
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}
.tabelaVisitas tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabelaVisitas tr:hover {
  background-color: #e1f0ff;
  cursor: default;
}
h2 {
  text-align: center;

}
.campo-data {
  padding: 5px;
  margin: 10px;
  text-align: center;
  width: 100%;
}