* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

/* wrapper principal (em App) */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* área entre header/navbar e footer */
.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
